.heading{
    /* padding: 10px; */
    
    margin-top:130px;
   
    padding: 2% 5%;
    z-index: 0;
    
}
.head-content{
    position: relative;
    display: flex;
    flex-direction: row;
    
}
.heading-content{
    display: flex;
    flex-direction: row;

}
.heading-content img{
     width:4rem;
     height: 4rem;

}
.heading-txt{
    padding: 0 10px;
}
.heading-txt h4{
  color: grey;
}
.heading-btn{
    position: absolute;
    right:2%;
    display: flex;
    flex-direction: row;
}
.heading-btn button{
    background-color: transparent;
    outline:2px solid rgb(72, 132, 242);
    border: none;
    color:blue;
    margin: 8px;
    width: 5rem;
    height: 3rem;
    font-size: 1.1rem;
    transition: all .5s;
    z-index: 0;
}
.heading-btn button:hover{
    background-color: rgb(72, 132, 242);
    color: white;
}
.head-video{
    padding: 2rem 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.head-vid{
    display: flex;
    flex-direction: row;
}
.vid{
   padding: 1rem 0;
   width: 62%;
   
}
.vid-stat{
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem ;
}
.stat-content{
    padding: 1.2rem ;
}
.stat-content h5{
    color:grey
}
.stat-btn{
    background-color: black;
    color: white;
    width:80%;
    margin: 15px auto;
    /* height: 2rem; */
    font-size: 1.3rem;
    padding: 10px;
    box-shadow: 2px 2px 4px rgb(107, 107, 107);
}
.stat-btn:active{
    box-shadow: none;
}
.vid-stat p{
    margin: 3px auto;
}
@media screen and (max-width:900px){
    .head-vid{
        flex-direction: column;
    }
    .vid iframe{
        width: 150%;
    }
    .vid-stat{
        width: 100%;
    }
    
}
